@model SessionReportModel
@{
    int collapseIndex = 0;
}
@functions
{
    // 14 - #00FF00
    // 15 - #78F700
    int GetPercentageForWindSpeed(decimal windSpeed)
    {
        // 5-50 is our range
        windSpeed = Math.Min(windSpeed + 5, 50);
        return (int)Math.Round(windSpeed * 100 / 50);
    }
    string GetWindSpeedClass(decimal windSpeed)
    {
        var number = (int)Math.Ceiling(windSpeed / 2);
        if(number > 25) {
            number = 25;
        }
        return $"wind-speed-{number}";
    }
}
<style>
    [data-toggle="collapse"].collapsed .if-not-collapsed {
        display: none;
    }
    [data-toggle="collapse"]:not(.collapsed) .if-collapsed {
        display: none;
    }
</style>
<div class="container">
    <div class="page">
        <div class="body">
            @if(Model.SessionSpots.Count == 0)
            {
                <p class="alert alert-warning">There aren't any good sessions!! <i class="fa-regular fa-face-sad-cry"></i></p>
                <hr />
            }
            @foreach (var sessionsByDay in Model.SessionSpots.GroupBy(x => new DateTime(x.FromLocal.Year, x.FromLocal.Month, x.FromLocal.Day)))
            {
                <h2><i class="fa fa-calendar-days"></i> @sessionsByDay.Key.ToString("dddd, MMMM dd")</h2>
                @foreach (var spot in sessionsByDay)
                {
                    var averageWindSpeed = Math.Round(spot.Data.Average(x => x.WindSpeed), 1);
                    collapseIndex++;
                    <h5><i class="fa fa-location-dot"></i> @spot.Name <span class="badge badge-secondary">@spot.FromLocal.ToString("h tt") - @spot.ToLocal.ToString("h tt")</span> <span class="badge badge-secondary @(GetWindSpeedClass(averageWindSpeed))">avg @averageWindSpeed mph</span></h5>
                    <p>
                        <a class="btn btn-light collapsed" role="button" data-toggle="collapse" href="#collapse-@(collapseIndex)"><span class="if-collapsed">Show details</span><span class="if-not-collapsed">Hide details</span></a>
                    </p>
                    <div class="collapse" id="collapse-@(collapseIndex)">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 1%; text-align: center;">Time</th>
                                    <th scope="col">Speed (mph)</th>
                                    <th scope="col" style="width: 1%; text-align: center;">Direction</th>
                                    <th scope="col" style="width: 1%;text-align: center;">Temp</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in spot.Data)
                                {
                                    <tr>
                                        <td scope="row" style="text-align: center;"><span class="badge badge-secondary">@data.ModelTimeLocal.ToString("h tt")</span></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar @(GetWindSpeedClass(data.WindSpeed))" role="progressbar" style="width: @(GetPercentageForWindSpeed(data.WindSpeed))%" aria-valuenow="@(GetPercentageForWindSpeed(data.WindSpeed))" aria-valuemin="0" aria-valuemax="100"><b>@data.WindSpeed</b></div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;">@data.WindDirectionText</td>
                                        <td style="white-space: nowrap;text-align: center;">@data.Temp F</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                 <hr />
            }
            <p>
                <a href="https://github.com/pauldotknopf/ikitesurf-bot/blob/main/rules.yml" class="btn btn-secondary">View rules</a>
            </p>
        </div>
    </div>
</div>