<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Test</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="@Url.Content("~/dist/styles.css")" rel="stylesheet" type="text/css"/>
  <script src="@Url.Content("~/dist/scripts.js")"></script>
</head>
<body>

    <header>
      <div class="powerline-bar">
        <div class="container">
          <div class="powerline-container">
            <ul class="powerline">
              <li class="primary">
                pknopf@web
              </li>
              <li class="end primary-to-dark">
              </li>
              <li class="dark">
                <a href="@Url.Content("~/")">cd ~/<span class="caret">&nbsp;</span></a>
              </li>
            </ul>
            <ul class="powerline">
              <li class="end dark-to-secondary">
              </li>
              <li class="secondary">
                <a href="@Url.Content("~/archives")">archives</a>
              </li>
              <li class="end secondary-to-dark">
              </li>
              <li class="dark">
                <a href="@Url.Content("~/about")">about</a>
              </li>
              <li class="end dark-to-primary">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main>

      @RenderBody()
      
    </main>

    <footer class="text-muted">
      <div class="container">
        <p>Footer</p>
      </div>
    </footer>
</body>
</html>
