@using Blog
@model PostModel

<div class="container">
    <div class="post">
        <h1 class="title">
            @Model.Post.Title
        </h1>
        <p class="submitted">
            posted on @Model.Post.Date.ToString("MMM dd, yyyy")
        </p>
        <div class="content">
            @Html.Raw(Model.Body)
        </div>
        @if (Model.Post.CommentIssueID.HasValue)
        {
            <hr />
            <h3>Comments</h3>
            if (Model.Post.Comments != null && Model.Post.Comments.Count > 0)
            {
                foreach (var comment in Model.Post.Comments)
                {
                    var userUrl = $"https://github.com/{comment.User}";
                    var commentUrl = $"https://github.com/pauldotknopf/pauldotknopf.github.io/issues/{Model.Post.CommentIssueID.Value}#issuecomment-{comment.Id}";
                    <div class="comment">
                        <div class="comment-user">
                            <a href="@userUrl" target="_blank">
                                <img src="@comment.UserAvatarUrl"/>
                            </a>
                        </div>
                        <div class="comment-main">
                            <div class="header">
                                <a href="@userUrl" target="_blank" class="user">@comment.User</a> commented
                                <a href="@commentUrl" target="_blank" class="time">
                                    <relative-time datetime="@comment.CreatedAt.ToString("O")">
                                        @comment.CreatedAt.ToString("MMM dd, yyyy")
                                    </relative-time>
                                </a>&nbsp;@(comment.UpdatedAt.HasValue ? "(edited)" : "")
                            </div>
                            <div class="body">
                                @Html.Raw(comment.Body)
                            </div>
                            <div class="footer">
                                <ul class="nav">
                                    @if (comment.Reactions.Plus1 > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">
                                                <g-emoji alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png" class="emoji">👍</g-emoji> @comment.Reactions.Plus1
                                            </a>
                                        </li>
                                    }
                                    @if (comment.Reactions.Minus1 > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">
                                                <g-emoji alias="-1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44e.png" class="emoji">👎</g-emoji> @comment.Reactions.Minus1
                                            </a>
                                        </li>
                                    }
                                    @if (comment.Reactions.Laugh > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">
                                                <g-emoji alias="smile" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png" class="emoji">😄</g-emoji> @comment.Reactions.Laugh
                                            </a>
                                        </li>
                                    }
                                    @if (comment.Reactions.Hooray > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">
                                                <g-emoji alias="tada" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f389.png" class="emoji">🎉</g-emoji> @comment.Reactions.Hooray
                                            </a>
                                        </li>
                                    }
                                    @if (comment.Reactions.Confused > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">
                                                <g-emoji alias="thinking_face" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f615.png" class="emoji">😕</g-emoji> @comment.Reactions.Confused
                                            </a>
                                        </li>
                                    }
                                    @if (comment.Reactions.Heart > 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">
                                                <g-emoji alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png" class="emoji">❤️</g-emoji> @comment.Reactions.Heart
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-muted">
                    There are no comments yet.
                </p>
            }
            <p class="text-center">
                <a class="btn btn-primary btn-light btn-lg" target="_blank" href="https://github.com/pauldotknopf/pauldotknopf.github.io/issues/@Model.Post.CommentIssueID.Value#new_comment_field"><i class="fab fa-github"></i> Join the discussion at GitHub</a>
            </p>
        }
    </div>
</div>